.App {
  text-align: center;
}

.App .container {
  color: #272142;
  background-color: #e8f2f7;
  min-height: 100vh;
  padding-top: 30 px;
}
.App .wrapper {
  background-color: white;
  border: 1px solid #eaebee;
  border-radius: 8px;
  display: block;
  margin: 0px auto;
  max-width: 600px;
  padding-top: 20px;
}
